/***Initial reset of all html tags - this removes the annoying default whitespace at the top of the page ****/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

h1 {
    padding: 0;
}

html {
    position: relative;
    min-height: 100%;
    font-size: 100%; /*Important*/
}

body {
    background-color: #ebebeb;
}

.container {
    background-color: #fff;
    max-width: 1200px;
/*    min-width: 500px;*/
    margin: auto;
}

.link {
  padding-top: 20px;
  padding-left: 30px;
  padding-bottom: 60px;
  font-size:1.5rem;
}

.nopadding { /***important for proper grid layout!!**/
    padding: 0px !important;
    margin: 0px !important;
}

/*
.struct {
    padding-bottom: 50px;
}*/

.std-padding-top {
    padding-top: 30px;
}

.body-text {
    font-size: .9rem;
}

.input-btn-gold {
    border: 2px solid #E2C675;
    background-color: #fff;
    color: #E2C675;
    font: 300 1rem verdana;
    width: 70px;
}

.input-btn-grey {
    border: 2px solid #b2b2b2;
    background-color: #fff;
    color: #b2b2b2;
    font: 300 1rem verdana;
/*    width: 70px;*/
}

.dbl-padding-top {
    padding-top: 60px;
}

#found {
/*    display: none;*/
}

.input-btn-neg {
     border: 2px solid #76989B;
    background-color: #fff;
    color: #76989B;
    font: 300 1rem verdana;
}

.half-padding-top {
    padding-top: 15px;
}

.third-padding-top {
    padding-top: 10px;
}

.input-btn-gold-fluid {
    border: 2px solid #E2C675;
    background-color: #fff;
    color: #E2C675;
    font: 300 1rem verdana;
}

.std-padding-bottom {
    padding-bottom: 30px
}

.btn-grey {
    border: 1px solid #b2b2b2;
    color: #b2b2b2;
    font: 300 1rem verdana;
    padding: 3px 15px 3px 15px;
}

a.btn-grey:hover {
    text-decoration: none;
    color:#E25014;
    border-color: #E25014;
    
}

.btn-gold {
    border: 1px solid #b2b2b2;
    color: #b2b2b2;
    font: 300 1rem verdana;
    padding: 3px 15px 3px 15px;
}

a.btn-gold:hover {
    text-decoration: none;
    color: #E2C675;
    border-color: #E2C675;
    
}

a:focus {
    text-decoration: none;
    color: #b2b2b2;
}

#gnInfo {
/*    display: none;*/
}

/*
.assetsInputs0 div>input{
    border-color: red;
}

.assetsInputs0 #name {
    border-color: red;
}

.assetsInputs0 #value {
    border-color: blue;
}

.assetsInputs0 #atype {
    border-color: yellow;
}

.assetsInputs1 #name {
    border-color: chartreuse;
}

.assetsInputs1 #value {
    border-color: rosybrown
}

.assetsInputs1 #atype {
    border-color: fuchsia;
}
*/
