<!doctype html>
<html>

<head>
    <title>Update/Delete Form</title>
    <!--Jquery CDN-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
</head>

<body>
    <h1>Prospect Search</h1>
    <form id="searchform" action="#override">
        First Name:<input type="text" id="fname"> Surname: <input type="text" id="lname"> D.O.B: <input type="text" placeholder="YYY-MM-DD" id="dob"><br><br>
        <input type="submit" value="Search">
    </form>
    <p id="output">Submit should run the API to add user</p>

    <h2>No Prospects</h2>
    <container style="position: relative">
        <div style="width: 600px; display: inline">
            <div style="width: 50%; padding-bottom: 30px">
                <p>ID:</p> <input type="text" id="id2" readonly>
                <p>First Name:</p> <input type="text" id="fname2" class="update_inputs" readonly>
                <p>D.O.B:</p> <input type="text" id="dob2" class="update_inputs" readonly>
            </div>
            <div style="width: 50%; display: inline; padding left: 50px">
                <p>Surname:</p> <input type="text" id="lname2" class="update_inputs" readonly>
                <p>Retirement:</p> <input type="text" id="ret_age2" class="update_inputs" readonly>
            </div>
    </container>
    </div><br>

    <button type="button" id="delete_prosp">Delete</button><br><br>
    <button type="button" id="update_prosp">Update</button>
    <!--introdude new fields and an update
        button if the update button is pressed-->

    <script>
        $("document").ready(function() {
            $("#update_prosp").on("click", function() {
                if ($("#id2").val != null && $("#update_prosp").text() == "Update") {
                    $("input.update_inputs").prop("readonly", false);
                    $("#update_prosp").text("Update Now");
                } else if ($("#update_prosp").text() == "Update Now") {
                    //then make an ajax call to update
                    var $fname = $("#fname2").val();
                    var $lname = $("#lname2").val();
                    var $dob = $("#dob2").val();
                    var $retirement = $("#ret_age2").val();

                    var updateJson = {
                        fname: $fname,
                        lname: $lname,
                        dob: $dob,
                        retirement: $retirement,
                    };
                    updateJson = JSON.stringify(updateJson);
                    $.ajax({
                        type: "PUT",
                        url: "/jhf/api/v1.0/prospects/" + $("#id2").val(), //include ID in the URL
                        data: updateJson,
                        contentType: "application/json; charset=UTF-8",
                        success: function(data) {
                            if (data.status == 201) {
                                //then successful update - clear boxes and make read-only
                                $("h2").text("Prospect Updated");
                                $("input.update_inputs").prop("readonly", true);
                                $("#id2").val("");
                                $("#fname2").val("");
                                $("#lname2").val("");
                                $("#dob2").val("");
                                $("#ret_age2").val("");
                            }
                        },
                    });
                }
            });
            $("form#searchform").submit(function() {
                event.preventDefault(); //Prevent the std submit from firing
                var $fname = $("#fname").val();
                var $lname = $("#lname").val();
                var $dob = $("#dob").val();

                var searchJson = {
                    fname: $fname,
                    lname: $lname,
                    dob: $dob,
                };
                searchJson = JSON.stringify(searchJson);
                $.ajax({
                    type: "POST",
                    url: "/jhf/api/v1.0/prospects/find",
                    data: searchJson,
                    contentType: "application/json; charset=UTF-8",
                    success: function(returned) {
                        // will return a JSON object with the found prospect
                        $("h2").text("Prospect Found | Update/Delete?");
                        $("#id2").val(returned.id);
                        $("#fname2").val(returned.fname);
                        $("#lname2").val(returned.lname);
                        $("#dob2").val(returned.dob);
                        $("#ret_age2").val(returned.retirement);
                    },
                });
            });

            $("button#addprosp").on("click", function() {
                var $firstname = $("#fname").val();
                var $surname = $("#sname").val();
                var $dob = $("#dob").val();
                var $retirement = $("#ret_age").val();

                var json = {
                    FirstName: $firstname,
                    Surname: $surname,
                    Dob: $dob,
                    Retirement: $retirement,
                };
                json = JSON.stringify(json);

                $.ajax({
                    type: "POST",
                    url: "/jhf/api/v1.0/prospects",
                    data: json,
                    contentType: "application/json; charset=UTF-8",
                    success: function(data) {
                        $("p#output").text(data);
                        //alert("First name = " + $firstname);
                    },
                });
            });
        });
    </script>
</body>

</html>

</script>
</body>

</html>
