<!doctype html>
<html>

<head>
    <title>Update/Delete Form</title>
    <!--Jquery CDN-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
</head>

<body>
    <h1>Prospect Search</h1>
    <form id="searchform">
        First Name:<input type="text" id="fname"> Surname: <input type="text" id="lname"> D.O.B: <input type="text" placeholder="DD/MM/YYYY" id="dob"><br><br>
        <input type="submit" value="Search">
    </form>
    <p id="output">Enter some or all of the prospect's details and click search</p>

    <h2>Prospects Fields</h2>
    <container style="position: relative">
        <div style="width: 600px; display: inline">
            <div style="width: 50%; padding-bottom: 30px">
                <p>ID:</p> <input type="text" id="id2" readonly>
                <p>First Name:</p> <input type="text" id="fname2" class="update_inputs" readonly>
                <p>D.O.B:</p> <input type="text" id="dob2" class="update_inputs" readonly>
            </div>
            <div style="width: 50%; display: inline; padding left: 50px">
                <p>Surname:</p> <input type="text" id="lname2" class="update_inputs" readonly>
                <p>Retirement:</p> <input type="text" id="ret_age2" class="update_inputs" readonly>
            </div>
    </container>
    </div><br>
    <br>
    <p id="status" style="color: #b24026"></p>

    <button type="button" id="delete_prosp">Delete</button><br><br>
    <button type="button" id="update_prosp">Update</button>
    <!--introdude new fields and an update
        button if the update button is pressed-->

    <script>
        $("document").ready(function() {
            function resetAll() {
                $("input.update_inputs").prop("readonly", true);
                $("#id2").val("");
                $("#fname2").val("");
                $("#lname2").val("");
                $("#dob2").val("");
                $("#ret_age2").val("");
                $("#update_prosp").text("Update");
                $("#delete_prosp").removeAttr("style");
                $("h2").text("Prospect Fields");
                $("p#output").text("Enter some or all of the prospect's details and click search");
            }
            //THE UPDATE FUNCTION
            $("#update_prosp").on("click", function() {
                if ($("#id2").val().length != 0 && $("#update_prosp").text() == "Update") {
                    $("input.update_inputs").prop("readonly", false);
                    $("#update_prosp").text("Update Now");
                    $("#delete_prosp").css("display", "None");
                } else if ($("#update_prosp").text() == "Update Now") {
                    //then make an ajax call to update
                    var $fname = $("#fname2").val();
                    var $lname = $("#lname2").val();
                    var $dob = $("#dob2").val();
                    var $retirement = $("#ret_age2").val();

                    var updateJson = {
                        fname: $fname,
                        lname: $lname,
                        dob: $dob,
                        retirement_age: $retirement,
                    };
                    updateJson = JSON.stringify(updateJson);
                    $.ajax({
                        type: "PUT",
                        url: "/jhf/api/v1.0/prospects/" + $("#id2").val(), //include ID in the URL
                        data: updateJson,
                        contentType: "application/json; charset=UTF-8",
                        success: function(returned) {
                            if (returned.status == 201) {
                                //then successful update - clear boxes and make read-only
                                $("p#status").text("Prospect Updated");
                                resetAll();
                            }
                        },
                    });
                }
            });
            //THE DELETE FUNCTION
            $("#delete_prosp").on("click", function() {
                if ($("#id2").val().length != 0) {
                    var delConfirm = confirm("Are you sure you want to delete " + $("#fname2").val() + " " + $("#lname2").val());
                    if (delConfirm == true) {
                        //ajax call to delete api
                        $.ajax({
                            type: "DELETE",
                            url: "/jhf/api/v1.0/prospects/" + $("#id2").val(), //include ID in the URL
                            contentType: "application/json; charset=UTF-8",
                            success: function(returned) {
                                if (returned.status == 204) { //then successfully deleted
                                    $("p#status").text("Prospect deleted");
                                    resetAll();
                                }
                            },
                        });
                    }
                }
            });
            //THE SEARCH FUNCTION
            $("form#searchform").submit(function() {
                event.preventDefault(); //Prevent the std submit from firing
                //alert($("#fname").val());
                if ($("#fname").val().length != 0) {
                    var $fname = $("#fname").val();
                    var $lname = $("#lname").val();
                    var $dob = $("#dob").val();

                    var searchJson = {
                        fname: $fname,
                        lname: $lname,
                        dob: $dob,
                    };
                    searchJson = JSON.stringify(searchJson);
                    $.ajax({
                        type: "POST",
                        url: "/jhf/api/v1.0/prospects/find",
                        data: searchJson,
                        contentType: "application/json; charset=UTF-8",
                        success: function(returned) {
                            if (returned.status == "200") {
                                // will return a JSON object with the found prospect
                                $("h2").text("Prospect Found | Update/Delete?");
                                $("#id2").val(returned.id);
                                $("#fname2").val(returned.fname);
                                $("#lname2").val(returned.lname);
                                $("#dob2").val(returned.dob);
                                $("#ret_age2").val(returned.retirement_age);
                            } else { //Not found
                                $("p#status").text("Prospect Not Found");
                            }
                        },
                        error: function(returned) {
                            if (returned.status == "404") {
                                $("p#status").text("Prospect Not Found");
                            }
                        };
                    });
                } else {
                    alert("Please enter at least a prospect name");
                }
            });

            $("button#addprosp").on("click", function() {
                var $firstname = $("#fname").val();
                var $surname = $("#sname").val();
                var $dob = $("#dob").val();
                var $retirement = $("#ret_age").val();

                var json = {
                    fname: $firstname,
                    lname: $surname,
                    dob: $dob,
                    retirement_age: $retirement,
                };
                json = JSON.stringify(json);

                $.ajax({
                    type: "POST",
                    url: "/jhf/api/v1.0/prospects",
                    data: json,
                    contentType: "application/json; charset=UTF-8",
                    success: function(data) {
                        $("p#output").text(data);
                        //alert("First name = " + $firstname);
                    },
                });
            });
        });
    </script>
</body>

</html>

</script>
</body>

</html>
