<!doctype html>
<html>

<head>
    <title>Users DB Form</title>
    <!--Jquery CDN-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <!--Bootstrap CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-1 nopadding">
            </div>
            <div class="col-xs-8 nopadding">
                <p style="font-size: 2em; color: #E2C675">Add/Update Golden Number Details</p>
            </div>
        </div>
        <!--S.O TOP SEARCH SECTION-->
        <div class="row std-padding-top">
            <div class="col-xs-11 col-xs-offset-1">
                <div class="row">
                    <div class="col-xs-12 nopadding">
                        <p style="font-size: 1.5rem"> Search Existing Prospects</p>
                    </div>
                </div>
                <div class="row std-padding-top">
                    <div class="col-xs-4 nopadding">
                        <input class="body-text" type="text" id="searchFname" placeholder="First Name">
                    </div>
                    <div class="col-xs-4 nopadding">
                        <input class="body-text" type="text" id="searchLname" placeholder="Surname">
                    </div>
                    <div class="col-xs-4 nopadding">
                        <input class="body-text" type="text" id="searchDob" placeholder="DOB - DD/MM/YYY">
                    </div>
                </div>
            </div>
        </div>
        <div class="row std-padding-top std-padding-bottom">
            <div class="col-xs-11 col-xs-offset-1">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="row">
                            <div class="col-xs-6 nopadding">
                                <a class="btn-gold" href="" id="searchButton">Search</a>
                                <!--<input class="input-btn-gold" type="button" id="search" value="Search">-->
                            </div>
                            <div class="col-xs-6 nopadding">
                                <a class="btn-grey" href="/" id="backButton">Back</a>
                                <!--<input class="input-btn-grey" type="button" id="top-back" value="Back">-->
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-8 nopadding">
                        <p id="searchDescr" class="body-text">Enter existing prospect's details and click search</p>
                    </div>
                </div>
            </div>
        </div>
        <!--E.O TOP SEARCH SECTION -->
        <!-- S.O PROSPECT FOUND SECTION -->
        <div class="row std-padding-top std-padding-bottom" id="found">
            <div class="col-xs-11 col-xs-offset-1">
                <div class="row">
                    <div class="col-xs-12 nopadding">
                        <p style="font-size: 1.5rem" id="found-text">Prospect Found</p>
                    </div>
                </div>
                <div class="row std-padding-top">
                    <div class="col-xs-4 nopadding">
                        <input class="body-text" style="color: #b24026" type="text" id="foundFname" placeholder="First Name" readonly>
                        <!--invisible id field-->
                        <input class="body-text" type="text" id="foundId" style="display: none" readonly>
                    </div>
                    <div class="col-xs-4 nopadding">
                        <input class="body-text" style="color: #b24026" type="text" id="foundLname" placeholder="Surname" readonly>
                    </div>
                    <div class="col-xs-4 nopadding">
                        <input class="body-text" style="color: #b24026" type="text" id="foundDob" placeholder="DOB - DD/MM/YYY" readonly>
                    </div>
                </div>
                <div class="row std-padding-top">
                    <div class="col-xs-2 nopadding">
                        <a class="btn-gold" href="" id="GnDetailsButton">Update Gn Details</a>
                        <!--<input class="input-btn-gold-fluid" type="button" id="Get-Gn" value="Prospect's Details">-->
                    </div>
                    <div class="col-xs-10 nopadding"></div>
                </div>
            </div>
        </div>
        <!-- E.O PROSPECT FOUND SECTION -->
        <!-- S.O GN Details SECTION -->
        <div class="row dbl-padding-top" id="gnInfo">
            <div class="col-xs-11 col-xs-offset-1">
                <div class="row">
                    <div class="col-xs-12 nopadding">
                        <p style="font-size: 1.5rem; color: #E2C675">Update Gn Details</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="row std-padding-top">
                            <div class="col-xs-12 nopadding">
                                <p style="font-size: 1.2rem">Expenditure</p>
                            </div>
                        </div>
                        <div class="row third-padding-top expendituresInputs0" id="expendituresBoxes">
                            <div class="col-xs-6 nopadding">
                                <!--invisible id field-->
                                <input class="body-text" type="text" id="id" style="display: none" readonly>
                                <input style="width: 75%" class="body-text" id="currentspend" type="text" placeholder="Current Expenditure*" readonly>
                            </div>
                            <div class="col-xs-6 nopadding">
                                <input style="width: 75%" class="body-text" id="goldenspend" type="text" placeholder="Golden Expenditure*" readonly>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="row std-padding-top">
                            <div class="col-xs-12 nopadding">
                                <p style="font-size: 1.2rem">Assets</p>
                            </div>
                        </div>
                        <div class="row assetsInputs0 third-padding-top" id="assetsBoxes">
                            <div class="col-xs-4 nopadding">
                                <!--invisible id field-->
                                <input class="body-text" type="text" id="id" style="display: none" readonly>
                                <input style="width: 75%" id="name" class="body-text" type="text" placeholder="Asset Name" readonly>
                            </div>
                            <div class="col-xs-4 nopadding">
                                <input style="width: 75%" class="body-text" id="value" type="text" placeholder="Asset Value" readonly>
                            </div>
                            <div class="col-xs-4 nopadding">
                                <input style="width: 75%" class="body-text" id="atype" type="text" placeholder="Asset Type" readonly>
                            </div>
                        </div>
                        <div class="row std-padding-top">
                            <div class="col-xs-4 nopadding">
                                <a class="btn-gold" href="" id="assetsAddNew">Add Asset</a>
                                <!--<input class="input-btn-grey" type="button" id="assetAddNew" value="Add Asset">-->
                            </div>
                            <div class="col-xs-4 nopadding">
                                <a class="btn-grey" href="" id="assetsRemove">Remove Asset</a>
                                <!--<input class="input-btn-neg" type="button" id="assetRemove" value="Remove Asset">-->
                            </div>
                            <div class="col-xs-4 nopadding"></div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="row std-padding-top">
                            <div class="col-xs-12 nopadding">
                                <p style="font-size: 1.2rem">Contributions</p>
                            </div>
                        </div>
                        <div class="row contributionsInputs0 third-padding-top" id="contributionsBoxes">
                            <div class="col-xs-4 nopadding">
                                <!--invisible id field-->
                                <input class="body-text" type="text" id="id" style="display: none" readonly>
                                <input style="width: 75%" id="amount" class="body-text" type="text" placeholder="Ctrbn amount" readonly>
                            </div>
                            <div class="col-xs-4 nopadding">
                                <input style="width: 75%" class="body-text" id="cto" type="text" placeholder="Ctrbn Dest." readonly>
                            </div>
                            <div class="col-xs-4 nopadding">
                                <input style="width: 75%" class="body-text" id="ctype" type="text" placeholder="Ctrbn Type" readonly>
                            </div>
                        </div>
                        <div class="row std-padding-top">
                            <div class="col-xs-4 nopadding">
                                <a class="btn-gold" href="" id="contributionsAddNew">Add Ctrbn</a>
                                <!--<input class="input-btn-grey" type="button" id="ctrbnAddNew" value="Add Ctrbn">-->
                            </div>
                            <div class="col-xs-4 nopadding">
                                <a class="btn-grey" href="" id="contributionsRemove">Remove Ctrbn</a>
                                <!--<input class="input-btn-neg" type="button" id="ctrbnRemove" value="Remove Ctrbn">-->
                            </div>
                            <div class="col-xs-4 nopadding"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="row std-padding-top">
                            <div class="col-xs-12 nopadding">
                                <p style="font-size: 1.2rem">Interests</p>
                            </div>
                        </div>
                        <div class="row interestsInputs0 third-padding-top" id="interestsBoxes">
                            <div class="col-xs-4 nopadding">
                                <!--invisible id field-->
                                <input class="body-text" type="text" id="id" style="display: none" readonly>
                                <input style="width: 75%" class="body-text" id="interest" type="text" placeholder="Interest Name" readonly>
                            </div>
                            <div class="col-xs-4 nopadding">
                                <input style="width: 75%" class="body-text" id="itype" type="text" placeholder="Interest Type" readonly>
                            </div>
                            <div class="col-xs-4 nopadding">
                            </div>
                        </div>
                        <div class="row std-padding-top">
                            <div class="col-xs-4 nopadding">
                                <a class="btn-gold" href="" id="interestsAddNew">Add Interest</a>
                                <!--<input class="input-btn-grey" type="button" id="interestAddNew" value="Add Interest">-->
                            </div>
                            <div class="col-xs-4 nopadding">
                                <a class="btn-grey" href="" id="interestsRemove">Remove Interest</a>
                                <!--<input class="input-btn-neg" type="button" id="interestRemove" value="Rem. Interest">-->
                            </div>
                            <div class="col-xs-4 nopadding"></div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="row std-padding-top">
                            <div class="col-xs-12 nopadding">
                                <p style="font-size: 1.2rem">Prospect Notes</p>
                            </div>
                        </div>
                        <div class="row notesInputs0 third-padding-top" id="notesBoxes">
                            <div class="col-xs-4 nopadding">
                                <!--invisible id field-->
                                <input class="body-text" type="text" id="id" style="display: none" readonly>
                                <textarea style="width: 90%" class="body-text" id="note" rows="5" placeholder="Report notes will be present in Gn report, private will only be on file " readonly></textarea>
                            </div>
                            <div class="col-xs-4 nopadding">
                                <input style="width: 75%" class="body-text" id="ntype" type="text" placeholder="Note Type." readonly>
                            </div>
                            <div class="col-xs-4 nopadding">
                            </div>
                        </div>
                        <div class="row std-padding-top">
                            <div class="col-xs-4 nopadding">
                                <a class="btn-gold" href="" id="notesAddNew">Add Note</a>
                                <!--<input class="input-btn-grey" type="button" id="noteAddNew" value="Add Note">-->
                            </div>
                            <div class="col-xs-4 nopadding">
                                <a class="btn-grey" href="" id="notesRemove">Remove Note</a>
                                <!--<input class="input-btn-neg" type="button" id="noteRemove" value="Remove Note">-->
                            </div>
                            <div class="col-xs-4 nopadding"></div>
                        </div>
                    </div>
                </div>
                <div class="row std-padding-top std-padding-bottom">
                    <div class="col-xs-6">
                        <div class="row">
                            <div class="col-xs-4 nopadding">
                                <input class="input-btn-gold-fluid" type="button" id="updateDetails" value="Update Details">
                            </div>
                            <div class="col-xs-4 nopadding">
                                <input class="input-btn-grey" type="button" id="detailsCancel" value="Cancel">
                            </div>
                            <div class="col-xs-4 nopadding"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Jquery/AJAX -->
    <script>
        $("document").ready(function() {
            function newRow(baseBoxes, baseInputs) {
                var newBoxes = baseBoxes.first().clone().insertAfter(baseBoxes.last());
                newBoxes.toggleClass(function() {
                    $(this).removeClass(baseInputs + 0);
                    return baseInputs + baseBoxes.length;
                });
//                alert("from newRow func: "+baseBoxes.length);
//                alert(baseBoxes.last().attr("class"));
             //                   alert(baseBoxes.length);
               // alert($("div#assetsBoxes").length);
                
            }

            function removeRow(baseBoxes, thisElement) {
                if (baseBoxes.length > 1) { //then there are cloned rows to delete
                    $(thisElement).parent().parent().prev().remove();
                }
            }

            function resetGnQuery() {
                $("#found").css("display", "block");
                $("#found-fname").val("");
                $("#found-lname").val("");
                $("#found-dob").val("");
                $("#found").removeAttr("style");
            }
            
            function makeBaseBoxes(tableName) {
                return "div#"+tableName+"Boxes";
            }
            
            function makeBaseInputs(tableName) {
                return tableName+"Inputs";
            }
            
            function placeData(dataArr, baseBoxes, baseInputs, ptr) {
                for (var field in dataArr[ptr]) {
                    $("."+baseInputs+ptr+ " #"+field).val(dataArr[ptr][field]);
                }
                if ($(baseBoxes).length < dataArr.length) {
//                    alert(baseBoxes+".length: "+$(baseBoxes).length+" Array.length: "+dataArr.length);
                    newRow($(baseBoxes), baseInputs); //make a new row for the extra data
                    placeData(dataArr, baseBoxes, baseInputs, ptr+1);
                }
                else {
                    return "true"; //done
                }
            }
            /////////////////////////////////THE SEARCH FUNCTIONS & EVENTS/////////////////////
            /////////INITIAL PROSPECT SEARCH
            $("a#searchButton").on("click", function(event) {
                event.preventDefault();
                if ($("#searchFname").val().length != 0) { //then it's not empty
                    var $fname = $("#searchFname").val();
                    var $lname = $("#searchLname").val();
                    var $dob = $("#searchDob").val();

                    var searchJson = {
                        fname: $fname,
                        lname: $lname,
                        dob: $dob,
                        scalar: 1,
                    };
                    searchJson = JSON.stringify(searchJson);
                    $.ajax({
                        type: "POST",
                        url: "/jhf/api/v1.0/prospects/find",
                        data: searchJson,
                        contentType: "application/json; charset=UTF-8",
                        success: function(returned) {
                            if (returned["query"] == "Found") {
                                // will return a JSON object with the found prospect
                                $("#found").css("display", "block");
                                $("#foundFname").val(returned["result"][0]["fname"]);
                                $("#foundLname").val(returned["result"][0]["lname"]);
                                $("#foundDob").val(returned["result"][0]["dob"]);
                                $("#foundId").val(returned["result"][0]["id"]);
                                //$(".assetsInputs0 #name").val(returned["result"][0]["fname"]);
                            }
                        },
                        error: function(returned) {
                            $("p#searchDescr").text("Prospect Not Found, check fields and try again");
                        },
                    });
                } else {
                    alert("Must enter prospect's first name");
                }
            });
            /////////////GET GN DETAILS SEARCH
            $("a#GnDetailsButton").on("click", function(event) {
                event.preventDefault();
                //we want to get info from all of the tables so send empty JSON string
//                alert("length of hello is I don't know");
                searchJson = JSON.stringify({});
                $.ajax({
                   type: "POST",
                    url: "/jhf/api/v1.0/prospects/gndetails/find/"+$("#foundId").val(), //the ID of the prospect
                    data: searchJson,
                    contentType: "application/json; charset=UTF-8",
                    success: function(response){
//                       alert("Success! "+response["gnDetails"]["assets"][0]["name"]);
                        var responseData = response["gnDetails"];
                        for (var tableName in responseData) {
                            if (responseData[tableName].length != 0) { //then there's data so let's enter it!
//                                alert("Hi again"+tableName);
                                placeData(response["gnDetails"][tableName], makeBaseBoxes(tableName), makeBaseInputs(tableName), 0);
                            }
                        } 
                    },
                    error: function(){
                        alert("whoops");
                    },
                });
            });
            
            
            
            
            /////////////////////AddNew BUTTON FUNCTIONS/////////////////////////
            $("a#assetsAddNew").on("click", function(event) {
                event.preventDefault();
                newRow($("div#assetsBoxes"), "assetsInputs");
            });
            $("a#contributionsAddNew").on("click", function(event) {
                event.preventDefault();
                newRow($("div#contributionsBoxes"), "contributionsInputs");
            });
            $("a#interestsAddNew").on("click", function(event) {
                event.preventDefault();
                newRow($("div#interestsBoxes"), "interestsInputs");
            });
            $("a#notesAddNew").on("click", function(event) {
                event.preventDefault();
                newRow($("div#notesBoxes"), "notesInputs");
            });
            /////////////////Remove BUTTON FUNCTIONS/////////////////////////
            $("a#assetsRemove").on("click", function(event) {
                event.preventDefault();
                removeRow($("div#assetsBoxes"), this);
            });
            $("a#contributionsRemove").on("click", function(event) {
                event.preventDefault();
                removeRow($("div#contributionsBoxes"), this);
            });
            $("a#interestsRemove").on("click", function(event) {
                event.preventDefault();
                removeRow($("div#interestsBoxes"), this);
            });
            $("a#notesRemove").on("click", function(event) {
                event.preventDefault();
                removeRow($("div#notesBoxes"), this);
            });
        });
    </script>
</body>

</html>
