<!doctype html>
<html>

<head>
    <title>Users DB Form</title>
    <!--Jquery CDN-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
</head>

<body>
    <h1>Enter a New Prospect</h1>
    <p>First Name: <input type="text" id="fname"></p>
    <p>Surname: <input type="text" id="sname"></p>
    <p>D.O.B: <input type="text" placeholder="DD/MM/YYYY" id="dob"></p>
    <p>Retirement Age: <input type="text" placeholder="65?" id="ret_age"></p>
    <button type="button" id="addprosp">Add Prospect</button>
    <p id="output">Submit should run the API to add user</p><br>
    <a href="/">Back</a>
    <script>
        $("document").ready(function() {
            $("button#addprosp").on("click", function() {
                var $fname = $("#fname").val();
                var $lname = $("#sname").val();
                var $dob = $("#dob").val();
                var $retirement_age = $("#ret_age").val();

                var json = {
                    fname: $fname,
                    lname: $lname,
                    dob: $dob,
                    retirement_age: $retirement_age,
                };
                json = JSON.stringify(json);

                $.ajax({
                    type: "POST",
                    url: "/jhf/api/v1.0/prospects",
                    data: json,
                    contentType: "application/json; charset=UTF-8",
                    success: function(returned) {
                        if (returned.status == 201) { //then it was created
                            $("p#output").text("Prospect " + returned.fname + " " + returned.lname + " was created");
                        }
                    },
                });
            });
        });
    </script>
</body>

</html>
